<nav id="navski" class="">
    <a href="#"><h1 id="logo">Tophski's Blogski</h1></a>
    <ul id="nav-menu">
        <a class="" href="#">
            <li class="nav-menu-item active">
                Home
            </li>
        </a>
        <a class="" href="#">
            <li class="nav-menu-item">
                About
            </li>
        </a>
        <a class="" href="#">
            <li class="nav-menu-item">
                Contact
            </li>
        </a>
    </ul>
</nav>