//@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  margin-top: 85px;
  background-color: coral;
}

#brand {
  font-size: 28pt;
}

#navski {
  font-size: 14pt;
  background-color: white;
  border-bottom: solid medium coral;
}

#navski * {
  border-bottom: none;
  color: darkblue;
}

#navski * :focus{
  color: inherit;
  background-color: inherit;
}

#navtoggle li {
  margin-bottom: 2px;
}

#navtoggle li :hover{
  border-bottom: solid medium coral;
}

#navtoggle li :active {
  border-bottom: solid medium coral;
}

#navski label {
  color: black;
  background-color: black;

}

#logo {
  color: coral;
}
